.app {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

.buttons button {
  margin: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.dark {
  background-color: #222;
  color: white;
  height: 100vh;
}